[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
user		= mysql
datadir		= /var/lib/mysql
tmpdir		= /tmp
log-bin                 = /var/lib/mysql/mysql-bin
log-bin-index       = /var/lib/mysql/mysql-bin.index
relay-log              = /var/log/mysql/mysqld-relay-bin
server-id              = SERVERID               用$RANDOM实现
report-host           = HOSTNAME             用 `hostname -i` IP地址实现
replicate_wild_ignore_table = mysql.%
log_slave_updates = 1

……
